<!DOCTYPE html>
<html lang="jp">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ますみすサーチ</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/scrolling-nav.css" rel="stylesheet">
  <!-- Bootstrap core JavaScript -->
  <script src="/static/jquery/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/jquery-easing/jquery.easing.min.js"></script>
</head>

<body id="page-top">
  <div class="footerFixed">
  <!-- Footer -->
  <%- include('../_header'); %>

  <header class="bg-secondary text-white">
    <div class="container text-center">
      <h1>ますみすサーチ</h1>
      <p class="lead">リレー登録方法・リレーサーバー一覧</p>
    </div>
  </header>

  <section id="relay_info_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>リレーの登録方法</h2>
          <p></p>
          <p><a href="/ui/tos">利用規約をご覧ください</a></p>
          <p></p>
          <p>利用規約に合意出来る場合のみ、下記URLをリレー登録してください。</p>
          <p></p>
          <p>https://masmis-search.ja-jp.org/inbox</p>
        </div>
      </div>
    </div>
  </section>

  <section id="relay_result">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>リレー先サーバ一覧</h2>

          <div class="table-responsive">
            <table id="instance-table" class="table table-striped table-sm" style="width: 100%">
              <thead>
                <tr>
                  <th>サーバ名</th>
                  <th>ステータス</th>
                </tr>
              </thead>
              <tbody>
                <% for (var row of rows) { %>
                  <tr>
                    <td><%= row['domain'] %></a></td>
                    <td>
                      <%= row['account_status'] == 1 ? "" : "停止中" %>
                      <% if (row['account_status'] == 1){ %>
                        <%- stats[row['id']] && stats[row['id']].last_status == false ? (stats[row['id']] && stats[row['id']].count > 100 ? "一時停止中" : "リレー有効　&nbsp; (最近失敗中)") : "リレー有効" %>
                      <% } %>
                    </td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <%- include('../_footer'); %>
</div>
</body>

</html>