<!DOCTYPE html>
<html lang="jp">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="robots" content="noindex" />
  <meta name="robots" content="nofollow" />

  <title>ますみすサーチ</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/scrolling-nav.css" rel="stylesheet">
  <!-- Bootstrap core JavaScript -->
  <script src="/static/jquery/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/jquery-easing/jquery.easing.min.js"></script>
  <style>
    .username {
      font-weight: bold;
      color: #007bff;
      text-shadow: 1px 0 1px #fff, 0.866px 0.5px 1px #fff, 0.5px 0.866px 1px #fff, 0 1px 1px #fff, -0.5px 0.866px 1px #fff, -0.866px 0.5px 1px #fff, -1px 0 1px #fff, -0.866px -0.5px 1px #fff, -0.5px -0.866px 1px #fff, 0 -1px 1px #fff, 0.5px -0.866px 1px #fff, 0.866px -0.5px 1px #fff;
    }
    .name{
      color: #fff;
      text-shadow: 1px 0 1px #000, 0.866px 0.5px 1px #000, 0.5px 0.866px 1px #000, 0 1px 1px #000, -0.5px 0.866px 1px #000, -0.866px 0.5px 1px #000, -1px 0 1px #000, -0.866px -0.5px 1px #000, -0.5px -0.866px 1px #000, 0 -1px 1px #000, 0.5px -0.866px 1px #000, 0.866px -0.5px 1px #000;
    }
    a.name{
      color: #fff;
      text-shadow: 1px 0 1px #000, 0.866px 0.5px 1px #000, 0.5px 0.866px 1px #000, 0 1px 1px #000, -0.5px 0.866px 1px #000, -0.866px 0.5px 1px #000, -1px 0 1px #000, -0.866px -0.5px 1px #000, -0.5px -0.866px 1px #000, 0 -1px 1px #000, 0.5px -0.866px 1px #000, 0.866px -0.5px 1px #000;
    }
    a.name:hover{
      color: #fff;
      text-shadow: 1px 0 1px #000, 0.866px 0.5px 1px #000, 0.5px 0.866px 1px #000, 0 1px 1px #000, -0.5px 0.866px 1px #000, -0.866px 0.5px 1px #000, -1px 0 1px #000, -0.866px -0.5px 1px #000, -0.5px -0.866px 1px #000, 0 -1px 1px #000, 0.5px -0.866px 1px #000, 0.866px -0.5px 1px #000;
    }
    a.name:visited {
      color: #fff;
      text-shadow: 1px 0 1px #000, 0.866px 0.5px 1px #000, 0.5px 0.866px 1px #000, 0 1px 1px #000, -0.5px 0.866px 1px #000, -0.866px 0.5px 1px #000, -1px 0 1px #000, -0.866px -0.5px 1px #000, -0.5px -0.866px 1px #000, 0 -1px 1px #000, 0.5px -0.866px 1px #000, 0.866px -0.5px 1px #000;
    }
  </style>
</head>

<body id="page-top">
  <div class="footerFixed">
  <!-- Footer -->
  <%- include('./_header'); %>

  <header class="bg-secondary text-white">
    <div class="container text-center">
      <h1>ますみすサーチ</h1>
      <p class="lead"><%= msg %></p>
    </div>
  </header>

  <section id="search_section">
    <div class="container">
      <form action="/search" method="GET">
          <div class="d-flex align-items-center form-group">
            <input type="text" class="form-control" id="q" name="q" aria-describedby="検索文字列を入力" placeholder="検索文字列を入力" size="80" value="<%= query %>">
          </div>
          <div class="d-flex align-items-center form-group text-center">
            <div class="col-12">
              <input type="submit" value="検索" class="btn btn-dark" />
            </div>
          </div>
      </form>
    </div>
  </section>

  <section id="search_result">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>検索結果一覧</h2>

            <% for (var row of rows) { %>
              <% var m = (Moment(row['note_created_at'])); %>
              <% m.utcOffset('+09:00') %>
              <div class="row">
                <div class="col-lg-9 mx-auto"  style="background: linear-gradient(90deg, rgb(<%= getRGB(row['background_color'],'r') %>, <%= getRGB(row['background_color'],'g') %>, <%= getRGB(row['background_color'],'b') %>), rgba(<%= getRGB(row['background_color'],'r') %>, <%= getRGB(row['background_color'],'g') %>, <%= getRGB(row['background_color'],'b') %>, 0));">
                  &nbsp;
                  <a href="<%= row['account_url']? row['account_url'] : row['account_id'] %>" target="_blank" rel="nofollow" class="username"><%= row['display_name'] != "" ? row['display_name'].substring(0,40) : row['username']  %></a>
                  &nbsp;
                  <span class="name">
                    @<%= row['username']  %>@<%= row['domain']  %>
                    (
                      <img width="16" height="16" src="<%= row['icon_url'] %>">
                      <a href="https://<%= row['domain'] %>/" target="_blank" rel="nofollow" class="name"><%= row['domain_name'].substring(0,15) %></a>
                    )
                  </span>
                </div>
                <div class="col-lg-3 mx-auto text-right" style="word-break: keep-all;">
                  <a href="<%= row['url'] %>" target="_blank" rel="nofollow"><%= m.format('YYYY/MM/DD HH:mm:ss') %> JST</a>
                </div>  
                <div class="col-lg-1 mx-auto">
                  &nbsp;
                </div>
                <div class="col-lg-11 mx-auto">
                  <%- row['note'] != "" ? urlLinker(escapeHTML(row['note']),row['domain']).replace(/\n/g,'<br>') : "(空の発言です)" %>
                </div>
              </div>
              <hr>
            <% } %>

        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <%- include('./_footer'); %>
</div>
</body>

</html>